<section id="download" class="content-section text-center">
    <div class="download-section">
        <div class="container">
            <div class="col-lg-8 col-lg-offset-2">
            <h2>Meet your Vejy Box</h2>   
            <table>
                <tr>
                    <td width="50%">
                    	<p align="right">
                    		<strong>Your VejyBox is Custom</strong><br>designed for your space, given your food needs and goals. 
            			</p>
            		</td>
                    <td width="50%">
                    	
                    </td>
                </tr>
                <tr>
                    <td width="50%">
                    	
                    </td>
                    <td width="50%">
                    	<p align="left">
                    		<strong>Your VejyBox is Low Maintenance</strong><br>designed to keep maintenance under 15 minutes per month.
                    	</p>
            		</td>
                </tr>
				<tr>
                    <td width="50%">
                    	<p align="right">
                    		<strong>Your VejyBox is space efficient</strong><br>designed to maximize edible crop yield per square foot.
            			</p>
            		</td>
                    <td width="50%">
                    	
                    </td>
                </tr>
                <tr>
                    <td width="50%">
                    	
                    </td>
                    <td width="50%">
                    	<p align="left">
                    		<strong>Your VejyBox is overall efficient</strong><br>designed to use 80% less water than traditional farming methods and less electrical power than any common kitchen or bathroom appliance. 
                    	</p>
            		</td>
                </tr>  
                <tr>
                    <td width="50%">
                    	<p align="right">
                    		<strong>VejyBox is Beautiful</strong><br>designed to fit elegantly into your indoor/outdoor space. 
            			</p>
            		</td>
                    <td width="50%">
                    	
                    </td>
                </tr>              

            </table>
<br><br>
            <p><strong>Want a VejyBox of your own?</strong><br>
            </p>
            <p>
            	<a href="#contact" class="btn btn-default btn-lg page-scroll">Get Your Vegy Box</a>
            </p>
                
            </div>
        </div>
    </div>
</section>