<header class="intro">
    <div class="intro-body">
                	<br><br>
                	<br><br>
        <div class="container">
            <div class="row">
                <div class="col-md-8" style="padding-right:33px;">
                	<h1 align="left">Welcome to VEJY CLUB</h1>
                	<p align="left">Vejy Club helps families and restaurants grow their own food - safely, deliciously and in under 15 minutes per month.</p>
                	<p align="left">Our beautiful, custom vegetable growth systems are designed to grow your favorite vegetables effortlessly, at scale, in the space you have available.</p>
                	
                	<p align="left">
                		Join Vejy Club to start growing in your space! Or...<br>
                		Give us a call: <a href="tel:+4155836427">415-583-6427</a><br>
                		Send us an email: <a href="mailto:ask@vejy.club">ask@vejy.club</a>
                	</p>
                	
                </div>
                <div class="col-md-4" style="background-color:rgba(0, 0, 0, 0.5);padding:16px">
                	<h2>Join The Club!</h2>
                	
	                <div style="background-color:white;opacity:0.5;padding:16px" >
	                	<%= render '/new_haven_leads/home_form', new_haven_lead: @new_haven_lead %>
	                </div>
                
                </div>
            </div>
        </div>
    </div>
</header>