<header class="intro">
    <div class="intro-body">
    <br><br>
                	<br><br>
                	<br><br>
        <div class="container">
            <div class="row">
                <div class="col-md-8" style="padding-right:33px;">
                	<h1 align="left">Welcome to VEJY CLUB</h1>
                	<p align="left">Vejy Club helps families and restaurants grow their own food - safely, deliciously and in under 15 minutes per month.</p>
                	<p align="left">Our custom vegetable growth systems are designed to grow your favorite vegetables effortlessly, at scale, in the space you have available.</p>
                	
                </div>
                <div class="col-md-4" style="background-color:rgba(0, 0, 0, 0.5);padding:16px">
                	<h2>Join The Club!</h2>
                	
	                <div style="background-color:white;opacity:0.5;padding:16px" >
	                	<%= render '/leads/home_form', lead: @lead %>
	                </div>
                
                </div>
            </div>
        </div>
    </div>
</header>