<header class="thank-you-intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    
                    <h2 class="brand-heading">Success!</h2>
                    
                    <p class="intro-text">
                        Thanks for joining <strong>Vejy Club</strong>.
                        <br>You're one step closer to mastering your food universe. 
                    </p>
                    
                    <p class="intro-text"> 
                    Our Vejy Growth team will be in touch within 7 days.<br>
                    Can't wait? Reach out:<br>
                    <i class="fa fa-phone" aria-hidden="true"></i> &nbsp; <a href="tel:+4155836427">415-583-6427</a><br>
                    <i class="fa fa-envelope" aria-hidden="true"></i>
 &nbsp; <a href="mailto:ask@vejy.club">ask@vejy.club</a>
                    </p>

                </div>
            </div>
        </div>
    </div>
</header>